body {
    background-color: #E7DFD8;
    margin: 0;
    font-family: "Inter", sans-serif;
}

h2,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1119px;
    margin: 0 auto;
}

.miki {
    display: flex;
    gap: 107px;
    padding-top: 99px;
    padding-bottom: 99px;
}

.miki_name {}

.miki_span {
    border-radius: 100px;
    width: 74px;
    height: 74px;
    background: #b99fea;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
}