body {
    background-color: #E7DFD8;
    margin: 0;
    font-family: "Inter", sans-serif;
}

h2,
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1119px;
    margin: 0 auto;
}

.miki {
    display: flex;
    gap: 107px;
    padding-top: 99px;
    padding-bottom: 99px;
}

.miki_name {
    display: flex;
    gap: 30px;
    align-items: center;
}

.miki_span {
    border-radius: 100px;
    width: 74px;
    height: 74px;
    background: #b99fea;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    
}

.miki_button {
    border-radius: 8px;
    padding: 10px 20px;
    background: #b99fea;
    border: none;
    margin-top: 35px;
    font-size: 16px;
    display: inline-block;
}

.miki_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: #101010;
    text-shadow: 0 4px 4px  rgba(0, 0, 0, 0.25);
    padding-top: 30px;
}

.miki_title {
    padding-top: 28px;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #101010;
}





.koko {
    display: flex;
    gap: 107px;
    padding-top: 99px;
    padding-bottom: 99px;
}

.koko_name {
    display: flex;
    gap: 30px;
    align-items: center;
}

.koko_span {
    border-radius: 100px;
    width: 74px;
    height: 74px;
    background: #eba789;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
}

.koko_button {
    border-radius: 8px;
    padding: 10px 20px;
    background: #eba789;
    border: none;
    margin-top: 35px;
    font-size: 16px;
}

.koko_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: #101010;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding-top: 30px;
}

.koko_title {
    padding-top: 28px;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #101010;
}


.moa {
    display: flex;
    gap: 107px;
    padding-top: 99px;
    padding-bottom: 99px;
}

.moa_name {
    display: flex;
    gap: 30px;
    align-items: center;
}

.moa_span {
    border-radius: 100px;
    width: 74px;
    height: 74px;
    background: #96dbc6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    
}

.moa_button {
    border-radius: 8px;
    padding: 10px 20px;
    background: #96dbc6;
    border: none;
    margin-top: 35px;
    font-size: 16px;
}

.moa_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 158%;
    color: #101010;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding-top: 30px;
}

.moa_title {
    padding-top: 28px;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #101010;
}
